.footer {
    background-color: white;
    color: black;
    padding: 50px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}
.footer-content-puls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
img {
    height: 80px;
    margin: auto;
}
.footer-content-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.footer-content-legals {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}
.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: black;
    color: white;
}
.icon-fb:hover {
    background-color: #1877F2;
}
.icon-twitter:hover {
    background-color: #1da1f2;
}
.icon-insta:hover {
    background-color: #e4405f;
}
.icon-linkedin:hover {
    background-color: #0077B5;
}
.icon-twitch:hover {
    background-color: #6441a5;
}
.icon-discord:hover {
    background-color: #7289da;
}
.footer-content-legals {
    text-align: center;
}
