.footer {
    background-color: black;
    color: white;
    height: 300px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}
.footer-content-puls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
img {
    height: 80px;
    margin: auto;
}
.footer-content-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
fa-icon {
    margin: 5px;
}
.icon-fb {
    color: #1877F2;
}
.icon-twitter {
    color: #1da1f2;
}
.icon-insta {
    color: #e4405f;
}
.icon-linkedin {
    color: #0077B5;
}
