<div class="list-editions">
    <div class="edition-flappy" id="edition-flappy">
        <div class="edition-flappy-banner">
            <div class="edition-flappy-content">
                <h4>Edition 1: Flappy Bird</h4>
                <button class="btn btn-light">Edition</button>
            </div>
        </div>
    </div>
    <div class="edition-riot" id="edition-riot">
        <div class="edition-riot-banner">
            <div class="edition-riot-content">
                <h4>Edition 2: LOL x TFT x Hearstone</h4>
                <button class="btn btn-light">Edition</button>
            </div>
        </div>
    </div>
</div>
