<div class="list-editions">
    <div class="edition-flappy" id="edition-flappy">
        <div class="edition-flappy-banner">
            <div class="edition-flappy-content">
                <h4>Flappy Bird</h4>
                <button class="btn btn-light">Edition 1</button>
            </div>
        </div>
    </div>
    <div class="edition-riot" id="edition-riot">
        <div class="edition-riot-banner">
            <div class="edition-riot-content">
                <h4>LOL x TFT x LOR</h4>
                <button class="btn btn-light" routerLink="edition-riot">Edition 2</button>
            </div>
        </div>
    </div>
</div>
