.list-editions {
    display: flex;
    flex-direction: column;
}
h4 {
    background-color: #FABE00;
    color: black;
    width: 200px;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
}
.edition-flappy-content {
    background-color: #011c40;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}
.edition-riot-content {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}
p {
    text-align: center;
}
.btn {
    width: 150px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px grey;
}
