.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-bottom: 75px;
    background-color: #011c40;
    color: white;
}
.contact-title {
    margin: auto;
    text-align: center;
    padding-top: 75px;
}
h3 {
    background-color: #FABE00;
    color: black;
    padding: 5px;
    border-radius: 25px;
    width: 200px;
}
.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 70vw;
}
.contact-content-text {
    padding-top: 75px;
}
.contact-form {
    padding-top: 75px;
}
input, textarea {
    margin-bottom: 20px;
}
.btn-dark {
    background-color: white;
    color: black;
}
