fa-icon {
    cursor: pointer;
    color: #FABE00;
}
span {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}
