.donation {
    background-color: #1da1f2;
    width: 100%;
    color: white;
}
.donation-content {
    margin: auto;
    width: 70%;
    padding: 70px;
    text-align: center;
}
.btn {
    background-color: #FABE00;
    border-radius: 25px;
}
.btn-donation {
    width: 170px;
    font-weight: bold;
}
p {
    padding-bottom: 20px;
}
.games {
    width: 100%;
    background-color: white;
    color: black;
}
.games-content {
    margin: auto;
    width: 70%;
    padding: 70px;
    text-align: center;
}
h4 {
    padding-bottom: 50px;
}
.games-content-logo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.games-content-logo-item {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.img-logo {
    height: 100px;
}
.btn-logo {
    color: white;
    font-weight: 500;
    font-size: 10px;
    width: 200px;
}
.shop {
    width: 100%;
    background-color: #1da1f2;
    color: white;
}
.shop-content {
    margin: auto;
    width: 70%;
    padding: 70px;
    text-align: center;
}
.shop-content-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn-shop {
    font-weight: 600;
    font-size: 10px;
    width: 200px;
    margin-bottom: 20px;
}
.partners {
    width: 100%;
    background-color: white;
    color: black;
}
.partners-content {
    margin: auto;
    width: 70%;
    padding-top: 70px;
    text-align: center;
}
.partners-content-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.partners-content-item {
    padding-bottom: 70px;
}
.partners-content-logo img {
    padding-bottom: 30px;
}
.contact {
    width: 100%;
    background-color: #1da1f2;
    color: white;
    padding: 70px;
}
.contact-title {
    margin: auto;
    text-align: center;
}
.contact-content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}
.contact-content-text {
    padding-top: 50px;
}
.contact-form {
    padding-top: 50px;
}
input, textarea {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #FABE00;
}
a:hover {
    color: black;
}
